* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;

  font-size: clamp(18px, 5vw, 60px);
  font-weight: bold;
  text-align: center;
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 83%;
  max-width: 1000px;
  margin: 100px auto;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  min-height: 150px;
  background-color: #70a7df;
}

.banner {
  min-height: 125px;
  background-color: #fac0f6;
}

.main {
  display: flex;
  min-height: 525px;
}

.picture {
  flex: 3;
  padding-top: 100px;
  background-color: #bce68b;
}

.sidebar {
  flex: 1;
  padding-top: 100px;
  background-color: #93b071;
}
